.dashboardHeaderContainer {
  background-image: url("../../public/vancouver-maps.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  padding-top: 12rem;
}

.dashboardHeaderContainer .dashboardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}

.dashboardHeaderContainer .dashboardInfo .dashboardDescription {
  display: flex;
  align-items: center;
}

.dashboardHeaderContainer .dashboardInfo .dashboardSocials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboardHeaderContainer .dashboardInfo .dashboardSocials .socialIcons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dashboardHeaderContainer .dashboardInfo .dashboardSocials .socialIcons svg {
  height: 2rem;
  width: auto;
}

.dashboardHeaderContainer .dashboardInfo .profileImage {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 0.25rem white;
  object-fit: cover;
  object-position: center center;
  margin-top: -4rem;
}

.dashboardHeaderContainer .dashboardInfo .dashboardNameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0 1rem;
}
.dashboardHeaderContainer
  .dashboardInfo
  .dashboardNameContainer
  .dashboardName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dashboardHeaderContainer
  .dashboardInfo
  .dashboardNameContainer
  .dashboardName
  svg {
  width: 1.5rem;
  height: auto;
  fill: var(--primaryColor);
}

.dashboardHeaderContainer .dashboardInfo .dashboardNameContainer h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.dashboardHeaderContainer .dashboardInfo .dashboardNameContainer p {
  font-size: 1rem;
  font-weight: 400;
  color: #858585;
}

.dashboardContainer {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.dashboardContainer .sideNav {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  gap: 1rem;
}

.dashboardContainer .sideNav h3 {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  margin-bottom: 0.5rem;
}

.dashboardContainer .sideNav .sideNavLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboardContainer .sideNav .sideNavLinks .sideNavLink {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: #858585;
  gap: 0.75rem;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.dashboardContainer .sideNav .sideNavLinks .sideNavLink svg {
  width: 1.25rem;
  height: auto;
  fill: #858585;
}

.dashboardContainer .sideNav .sideNavLinks .sideNavLink.active {
  color: var(--primaryColor);
  background: rgba(73, 144, 226, 0.2);
  font-weight: 600;
}

.dashboardContainer .sideNav .sideNavLinks .sideNavLink.active svg {
  fill: var(--primaryColor);
}

.dashboardContainer .sideNav .sideNavLinks .sideNavLink:hover {
  opacity: 0.7;
}

.dashboardContainer .dashboardContent {
  display: flex;
  flex-direction: column;
  width: 75%;
  background: white;
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  height: fit-content;
}

.dashboardContainer .dashboardContent h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: black;
  margin-bottom: 1rem;
}

.dashboardContainer .dashboardContent .description {
  font-size: 1rem;
  font-weight: 400;
  color: #858585;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 992px) {
  .dashboardHeaderContainer {
    padding-top: 10rem;
  }
  .dashboardHeaderContainer .dashboardInfo {
    padding: 0.5rem 1rem;
  }
  .dashboardHeaderContainer .dashboardInfo .profileImage {
    width: 8rem;
    height: 8rem;
    margin-top: -3rem;
  }
  .dashboardHeaderContainer .dashboardInfo .dashboardNameContainer h1 {
    font-size: 1.25rem;
  }
  .dashboardHeaderContainer .dashboardInfo .dashboardNameContainer p {
    font-size: 0.9rem;
  }
  .dashboardHeaderContainer .dashboardInfo .dashboardSocials .socialIcons svg {
    height: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  .dashboardHeaderContainer {
    padding-top: 5rem;
  }
  .dashboardHeaderContainer .dashboardInfo {
    padding: 0.5rem 1rem;
  }
  .dashboardHeaderContainer .dashboardInfo .profileImage {
    width: 6rem;
    height: 6rem;
    margin-top: -2rem;
  }
  .dashboardHeaderContainer .dashboardInfo .dashboardNameContainer h1 {
    font-size: 1.1rem;
  }
  .dashboardHeaderContainer .dashboardInfo .dashboardNameContainer p {
    font-size: 0.8rem;
  }
  .dashboardHeaderContainer
    .dashboardInfo
    .dashboardNameContainer
    .dashboardName
    svg {
    width: 1.25rem;
  }
  .dashboardHeaderContainer .dashboardInfo .dashboardSocials button {
    display: none;
  }
  .dashboardHeaderContainer .dashboardInfo .dashboardSocials .socialIcons svg {
    height: 1.5rem;
  }
}
