.accountForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accountForm .formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.accountForm .formRow .formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.accountForm .formGroup.half {
  width: 50%;
  padding-right: 0.5rem;
}

.accountForm .formGroup label {
  font-size: 0.875rem;
  font-weight: 500;
  color: black;
}

.accountForm .formGroup input,
.accountForm .formGroup textarea {
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: black;
  padding: 0.5rem 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  transition: border-color 0.3s ease-in-out;
  -webkit-transition: border-color ease-in-out 0.3s;
  -moz-transition: border-color ease-in-out 0.3s;
  -ms-transition: border-color ease-in-out 0.3s;
  -o-transition: border-color ease-in-out 0.3s;
}

.accountForm .formGroup textarea {
  font-family: "Inter", sans-serif;
  resize: vertical;
  outline: none;
  min-height: 100px;
}

.accountForm .formGroup input:focus,
.accountForm .formGroup textarea:focus {
  outline: none;
  border-color: var(--primaryColor);
}

.accountForm .formGroup input.error,
.accountForm .formGroup textarea.error {
  border-color: var(--errorColor);
}

@media (max-width: 992px) {
  .accountForm .formRow {
    flex-direction: column;
  }
  .accountForm .formGroup.half {
    width: 100%;
    padding-right: 0;
  }
}
